.modal-title {
    background-color: black;
}
.photo-background {
    background-color: blue;
}

#modal-header {
    background-color: black;
    border: none;
}

#modal-body {
    background-color: black;
}
#modal-title {
    color: white;
    background-color: black;
    width: 48vw;
    justify-content: space-around;
}

