.modal-background {
    width: 49vw;
    height: 38vw;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    position: fixed;
}

#modal-title {
    color: white;
    text-align: center;
    background-color: black;
    width: 44vw;
    justify-content: space-around;
    padding-bottom: 20px;
}

.modal-container {
    width: 46vw;
    height: 1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 96px;
    padding-right: 178px;
    align-items: center;
    justify-content: center;
}

#modal-body.modal-body{
    width: 50vw;
    height: 20vw;
}

.image {
    width: 110%;
    height: 110%;
    padding-left: 80px;
    background-color: black;
    padding-bottom: 80px;
    margin-left: 58px;
    margin-top: 50px;
    object-fit: cover;
}

#modal-img {
    width: 800px;
    height: 900px;
    padding-bottom: 20px;
}

.modal-buttons {
    display: flex;
    justify-content:space-evenly;
    padding: 20px;
    width: 400px;
}

#everything{
    text-align: center;
    flex-direction: column;
    padding-left: 22px;
    width: 961px;
    margin-left: 277px;
    display: flex;
    background-color: black;
    align-items: center;
    padding-bottom: 70px;
}

.modal-description {
    padding-right: 50px;
}

#description {
    width: 800px;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    
}

/* text-align: center;
    flex-direction: column;
    padding-left: 230px;
    width: 683px;
    display: flex;
    background-color: black;
    align-items: center; */